:root {
    --Lightfontcolor: #222222;
    --Darkfontcolor: #faf9f7;
    --Darkbgcolor: #222222;
    --Lightbgcolor: #faf9f7;
    --btncolor: #04c75c;
}

@-webkit-keyframes shake {
    from {
        -webkit-transform: rotate(15deg);
    }

    to {
        -webkit-transform: rotate(-15deg);
        -webkit-transform-origin:  center;
    }
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'spoof';
}

html,
body {
    width: 100%;
    /* overflow: hidden; */
    background-color: var(--Lightbgcolor);
    height: 100%;
}

.page1 {}

#close {
    width: 40px;
    height: 40px;
    margin-left: 9%;
    font-size: 60px;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#close>i {
    color: #faf9f7;
}

#close>i:hover {
    color: #04c75c;
}

.menu-bar {
    position: absolute;
    top: 0%;
    left: -105%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    width: 100vw;
    background-color: #0c00cd;
    background-image: url(https://assets-global.website-files.com/62bb0a9586616e19ecbb2448/62bc6d937c758d08a77c1932_logo-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

#menu-cnt {
    padding-top: 60px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#menu-cnt>a {
    color: #faf9f7;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 59px;
    font-weight: 400;
    line-height: 1;
}

#nav {
    background-color: transparent;
    height: 140px;
    width: 100%;
    padding-inline: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon {
    width: 47px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-icon .line {
    width: 45px;
    height: 2.5px;
    background-color: var(--Lightfontcolor);
}

.logo-cnt {
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: var(--Lightfontcolor);
    font-weight: 400;
    letter-spacing: 1.5px;
}

#nav-img {
    background-image: url(./logo.svg);
    height: 88px;
    width: 70px;
    background-size: cover;
    margin-inline: 9vw;
}

.btn button {
    width: 150px;
    height: 50px;
    border-radius: 3rem;
    background-color: transparent;
    border: .5px solid var(--Lightfontcolor);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.menu-icon:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: var(--btncolor);
    color: var(--Darkfontcolor);
    transition: .2s;
}

.hoverr:hover {
    color: var(--btncolor);
    transform: skew(-9deg);
    cursor: pointer;
}

#menu-cnt>a:hover {
    color: var(--btncolor);
    transform: skew(-9deg);
    cursor: pointer;
}

.main {
    width: 100%;
    margin-top: 30px;

}

.sec {
    width: 100%;
    padding-inline: 9%;
}

.hero-sec .img-cnt1 {
    width: 100%;
    height: calc(100% - 140px);
    background-position: center;
    background-size: cover;
}

.img-cnt1>img {
    width: 100%;
}

.hero-txt {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-txt>p {
    font-size: 64px;
    font-weight: 400;
    line-height: 76px;
}

#btnn {
    width: 100%;
    width: 100%;
    text-align: right;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    gap: 15px;
    color: var(--Lightfontcolor);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: transparent;
    border: .5px solid var(--Lightfontcolor);
    font-weight: 400;
    border-radius: 3em;
    width: 14em;
    height: 2.5em;
}

.circle-bg {
    position: absolute;
    top: 87%;
    left: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scrt {
    width: 150px;
    position: absolute;


}

/*----------------------------page-2----------------------------------*/
.page2 {
    position: relative;
}

.wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.left-cnt {
    margin-left: 9%;
    width: 45%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.left-img-cnt img {
    width: 100%;
}

.left-img-cnt {
    height: 96vh;
    width: 100%;
    background-image: url(./1.webp);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.left-img-cnt11 {
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./print-close-2.webp);
    opacity: 0;
    transition: opacity .6s;
}

.left-img-cnt11:hover {
    opacity: 1;
    cursor: pointer;
}

.right-img-cnt25 {
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./print-close.webp);
    opacity: 0;
    transition: opacity .6s;
}

.right-img-cnt25:hover {
    opacity: 1;
    cursor: pointer;
}

.right-img-cnt27 {
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./print-3-min.jpg);
    opacity: 0;
    transition: opacity .6s;
}

.right-img-cnt27:hover {
    opacity: 1;
    cursor: pointer;
}

.txt-proh1 {
    font-size: 32px;
    margin: 20px 0 0 4px;
    font-weight: 400;

}

.txt-prop {
    font-size: 20px;
    margin: 2px 0 0 1px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-left: 5px;
}

.right-cnt {
    width: 45%;
    flex-direction: column;
    height: 110vh;
    display: flex;
}

.right-img-cnt {
    height: 96vh;
    overflow: hidden;
    width: 100%;
    background-image: url(./5.jpg);
    background-size: cover;
}

.wrapper2 {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.left-cnt2 {
    margin-left: 9%;
    width: 45%;
    height: 110vh;
    display: flex;
    flex-direction: column;

}

.left-img-cnt21 {
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./print2.webp);
    opacity: 0;
    transition: opacity .4s;
}

.left-img-cnt21:hover {
    opacity: 1;
    cursor: pointer;
}

.left-img-cnt2 {
    height: 96vh;
    width: 100%;
    background-image: url(./3.webp);
    background-size: cover;
    overflow: hidden;
}

.right-cnt2 {
    width: 45%;
    flex-direction: column;
    height: 110vh;
    display: flex;
}

.right-img-cnt2 {
    height: 96vh;
    overflow: hidden;
    width: 100%;
    background-image: url(./4.webp);
    background-size: cover;
}

/*-------------------------------------------- page3-------------------------------- */
.page3 {
    background-color: var(--Darkbgcolor);
    width: 100%;
    margin-top: 130px;
    overflow: hidden;
}

.scroller {
    /* margin-top: 130px; */
    width: 100%;
    background-color: #e4f250;
    white-space: nowrap;
    overflow: hidden;
}

.img-h {
    height: 80px;
    width: 60px;
    margin: 0 25px;
}

.scroller-in {
    height: 100px;
    display: flex;
    font-size: 48px;
    letter-spacing: 2px;
    color: var(--Lightfontcolor);
    /* white-space: nowrap; */
    align-items: center;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.artist-cnt {
    padding-inline: 9%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.art-txt>p {
    color: var(--Darkfontcolor);
    font-size: 62px;
    font-weight: 400;
    line-height: 74px;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.small-b {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 16px;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    display: grid;
}

.just {
    width: 56px;
    height: 56px;
    display: flex;
    border-radius: 50%;
    background-color: #04c75c;
    align-items: center;
    justify-content: center;
}

.page3part2 {
    width: 100%;
    height: 65vh;
    background-color: var(--Darkbgcolor);
    padding-top: 70px;
    color: var(--Darkfontcolor);
    margin-left: 9%;
    overflow: hidden;
    margin-bottom: 100px;
}

.artist-cnt2 {
    width: 100vw;
    display: flex;
    background-color: var(--Darkbgcolor);
    height: 55vh;
}

.pic-art1 {
    width: 100%;
    background-image: url(./artist1.webp);
    height: 70%;
    transition: all ease-out .6s;
    background-size: cover;
}

.pic-art1:hover {
    background-image: url(./print-close-2.webp);
}

.pic-art2 {
    height: 70%;
    width: 100%;
    background-image: url(./artist2.webp);
    background-size: cover;
    transition: all ease-out .6s;

}

.pic-art2:hover {
    background-image: url(./artist3.webp);
}

.pic-art3 {
    height: 70%;
    width: 100%;
    background-image: url(./david.webp);
    background-size: cover;
    transition: all ease-out .6s;
}

.pic-art3:hover {
    background-image: url(./david-1.webp);
}

.artist-bio>p {
    font-size: 32px;
    font-weight: 400;
    margin-top: 2vh;
}

.artist-bio {
    height: 65vh;
    margin-left: 20px;
    width: 100%;
    cursor: pointer;
}

.page4 {
    padding: 9%;
    width: 100%;
    background-color: var(--Lightbgcolor);
    height: 100vh;
    font-family: gilroy;
}

.hand {
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
}

.partition {
    height: 466px;
    width: 1px;
    background-color: var(--Darkbgcolor);
    margin-inline: 80px;
}

.leftside {
    width: 55%;
    height: 466px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.leftside>img {
    width: 180px;
    margin-bottom: 20px;
}

.leftside>p {
    font-size: 24px;
    font-weight: 200;
    margin-top: 20px;
    opacity: .7;
}

.leftside>h1 {
    font-size: 56px;
    font-weight: 400;
    line-height: 45px;
}

.rightside {
    width: 55%;
    height: 466px;
    background-color: #04c75c;
}

.spiner {
    padding-inline: 9%;
    background-color: #0c00cd;
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.yellow {
    width: 120px;
    height: 180px;
    margin-top: 7%;
    margin-left: 2%;
}

.yellow>img {
    width: 100%;
}

.rotate>img {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.white {
    width: 120px;
    height: 180px;
    margin-top: 20%;
}

.blue-mid {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    align-items: center;
    color: var(--Darkfontcolor);
    text-align: center;
}

.blue-mid>h1 {
    font-size: 50px;
    font-weight: 400;
}

.blue-mid>p {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
}

.login {
    display: flex;
    gap: 1vh;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

#mail::placeholder {
    color: var(--Darkfontcolor);
}

#mail {
    height: 60px;
    width: 50vh;
    background-color: transparent;
    font-size: 20px;
    color: #ffff;
    padding: 16px;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #faf9f7;
    margin: 30px;
    text-align: start;
}

.sign button {
    background-color: var(--btncolor);
    font-size: 16px;
    border: none;
    text-transform: capitalize;
}

#footer {
    background-color: var(--Darkbgcolor);
    width: 100%;
    height: 60vh;
    padding: 4% 15% 5% 8%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20vh;

}
#nav-img:hover{
    -webkit-animation: shake .1s ease-in-out infinite alternate;

}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-img:hover{
    -webkit-animation: shake .1s ease-in-out infinite alternate;

}
.footer-img {
    background-image: url(./fflogo-white.svg);
    width: 123px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-logo>p {
    color: var(--Darkfontcolor);
    margin-top: 9vh;
    font-weight: 200;
    text-align: center;
}

.footer-menu1>a {
    color: var(--Darkfontcolor);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 32px;
    padding-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
}

.footer-menu2 {
    display: flex;
    flex-direction: column;
}

.footer-menu2>a {
    color: var(--Darkfontcolor);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 32px;
    padding-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
}

.footer-last {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: start;
    gap: 5vh;
}

.footer-last>.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.footer-last>.cont>h2 {
    opacity: .65;
    color: var(--Darkfontcolor);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
}

.footer-last>.cont>p {
    color: var(--Darkfontcolor);
    letter-spacing: 1px;
    text-transform: lowercase;
    font-size: 28px;
    font-weight: 300;
}

.cont>p:hover {
    color: var(--btncolor);
    transform: skew(-9deg);
    cursor: pointer;
}

.social {
    display: flex;
    flex-direction: column;
}

.social>p {
    opacity: .65;
    color: var(--Darkfontcolor);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: 400;
}

.s-img {
    display: flex;
    gap: 4vh;
}

.insta-i {
    height: 32px;
    width: 32px;
    color: #faf9f7;
    font-size: 32px;
    transition: all ease .2s;
}

.insta>i:hover {
    color: rgb(236, 97, 136);
    cursor: pointer;
}

.twitter>i:hover {
    cursor: pointer;
    color: #1DA1F2;
}

.facebook>i:hover {
    cursor: pointer;
    color: #4267B2;
}