* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gilroy'; 
    }
    html,
    body {
    width: 100%;
    height: 100%;
    }
.sidebar{
    height: 70vh;
    background-color: blue;
    width: 40vh;
    position: absolute;
    /* top: -70vh; */
    left: -40vh;
}

button:target .sidebar{
    /* top: 70vh; */
    left: 40vh
}