* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gilroy'; 
    }
    html,
    body {
    width: 100%;
    height: 100%;
    }
   #container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
   }
   .left{
    height: 100%;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 15vh;
   }
   .header{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2vh;
   }
   h1{
    font-size: 56px;
    font-weight: 700;
   }
   .line{
    height: 180px;
    width: 3px;
    background-color: #fff;
   }
   .line1{
    height: 60px;
    width: 3px;
   }
   .des{
    background-color: rgb(192, 38, 38);
   }
   p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 70px;
   }
   .right{
    height: 100%;
    width:100%;
   }
   #imgg{
    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1700081738521-a70e0b55f702?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   }
   h1{
    cursor: pointer;
   }